@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.form {
	&__group:not(:last-child) {
		margin-bottom: $mb1 + 1;
	}

	&__group:last-child {
		margin-top: 4rem;
	}

	&__input {
		display: block;
		border: none;
		border-bottom: 3px solid transparent;
		border-radius: $rounded + 1;
		padding: 1.5rem 2rem;
		width: 90%;
		font-family: inherit;
		font-size: 1.5rem;
		color: inherit;
		background-color: rgba($color-white, 0.5);
		transition: $transition;

		&:placeholder {
			color: $color-grey-dark-2;
		}

		&:focus {
			@include box-shadow(0, 1rem, 2rem, rgba($color-black, 0.1));

			outline: none;
			border-bottom: 3px solid $color-primary;
		}

		&:focus:invalid {
			border-bottom: 3px solid $color-secondary-dark;
		}

		@include respond(tab-port) {
			width: 100%;
		}
	}

	&__label {
		display: block;
		margin-top: 0.2rem;
		margin-left: 2rem;
		font-weight: 700;
		font-size: 1.2rem;
		transition: $transition;

		@include respond(tab-port) {
			text-align: left;
		}
	}

	&__radio-group {
		display: inline-block;
		width: 49%;

		@include respond(tab-port) {
			display: flex;
			margin-bottom: 1rem;
			width: 100%;
		}
	}

	&__radio-input {
		opacity: 0;
	}

	&__radio-label {
		position: relative;
		padding-left: 4.5rem;
		font-size: $default-font-size;
		cursor: pointer;
	}

	&__radio-button {
		position: absolute;
		left: -1.2rem;
		top: -5px;
		display: flex;
		border: 5px solid $color-primary;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			width: 1.3rem;
			height: 1.3rem;
			background-color: $color-primary;
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: $transition;
		}

		@include respond(tab-port) {
			top: -2px;
		}
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__radio-input:checked + &__radio-label &__radio-button::after {
		opacity: 1;
	}

	@include respond(tab-port) {
		text-align: center;
	}
}
